/* Custom Styles */
.nav-link {
  border: var(--bs-red) 1px solid;
  border-radius: 27px;
  padding: 6px 15px !important;
  margin-right: 10px !important;
}

.nav-link:hover {
  background-color: transparent !important;
}

.logo-photo {
  height: 70px;
}

.top-20 {
  top: 20% !important;
}

.text-red {
  color: var(--bs-red) !important;
}

.text-bold {
  font-weight: 600 !important;
}

.form-group {
  padding: 10px 0px !important;
}

.form-group select {
  min-height: 55px;
  border-radius: 0;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.search-button {
  min-height: 55px;
  height: 100%;
}

.advantages-4 {
  width: 200px;
}

.advantages-4-inner {
  border-radius: 21px;
  color: var(--bs-dark);
}

.advantages-4-inner:hover {
  color: var(--bs-light);
}

.advantages-4-inner i {
  font-size: 64px;
  padding-bottom: 10px;
}

.advantages-4-inner p {
  padding-top: 30px;
  font-weight: 300;
}

.text-light-50 {
  color: #bababa80;
}

.text-light-20 {
  color: #bababa35;
}

.text-light-80 {
  color: #bababadd;
}

.slide-photo {
  width: 100% !important;
}

.card-about {
  width: 380px;
}

.card-about h1 {
  color: #656565 !important;
}

.about-content {
  margin-top: 50px;
  margin-left: 20%;
}

.text-thin {
  font-weight: 300;
}

.text-xtra-thin {
  font-weight: 100;
}

.display-7 {
  font-size: calc(0.8rem + 1.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.container-primary{
    background-color: var(--bs-primary) !important;
    padding: 30px 120px;
}

.rounded{
    border-radius: 20px !important;
}

.input-group.rounded>input:first-child{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.input-group.rounded>input:last-child, .input-group.rounded>button:last-child{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.btn-wide {
    padding: 0 20px;
}

.content-area-fluid{
    padding: 80px 100px !important;
}