/* Custom Styles */
.nav-link {
  border: var(--bs-red) 1px solid;
  border-radius: 27px;
  padding: 6px 15px !important;
  margin-right: 10px !important;
}

.nav-link:hover {
  background-color: transparent !important;
}

.logo-photo {
  height: 70px;
}

.top-20 {
  top: 20% !important;
}

.text-red {
  color: var(--bs-red) !important;
}

.text-bold {
  font-weight: 600 !important;
}

.form-group {
  padding: 10px 0px !important;
}

.form-group select {
  padding-top: 8px;
  min-height: 55px;
  border-radius: 0;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.form-control {
  border-radius: 5px;
}

.form-control:focus {
  border-radius: 5px;
  border-color: dodgerblue;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cfcfcf;
  opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cfcfcf;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cfcfcf;
}

.search-button {
  min-height: 55px;
  height: 100%;
}

.advantages-4 {
  width: 200px;
}

.advantages-4-inner {
  border-radius: 21px;
  color: var(--bs-dark);
}

.advantages-4-inner:hover {
  color: var(--bs-light);
}

.advantages-4-inner i {
  font-size: 64px;
  padding-bottom: 10px;
}

.advantages-4-inner p {
  padding-top: 30px;
  font-weight: 300;
}

.text-light-50 {
  color: #bababa80;
}

.text-light-20 {
  color: #bababa35;
}

.text-light-80 {
  color: #bababadd;
}

.slide-photo {
  width: 100% !important;
}

.card-about {
  width: 380px;
}

.card-about h1 {
  color: #656565 !important;
}

.about-content {
  margin-top: 50px;
  margin-left: 20%;
}

.text-thin {
  font-weight: 300;
}

.text-xtra-thin {
  font-weight: 100;
}

.display-7 {
  font-size: calc(0.8rem + 1.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.container-primary {
  background-color: var(--bs-primary) !important;
  padding: 30px 120px;
}

.rounded {
  border-radius: 20px !important;
}

.input-group.rounded > input:first-child {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.input-group.rounded > input:last-child,
.input-group.rounded > button:last-child {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.btn-wide {
  padding: 0 20px;
}

.content-area-fluid {
  padding: 80px 100px !important;
}

.text-lg {
  font-size: x-large;
}

.text-md {
  font-size: larger;
}

.text-sm {
  font-size: x-small;
}

.text-grey {
  color: grey !important;
}

.text-dark-grey {
  color: #5f5f5f !important;
}

li:hover,
li a:hover {
  color: var(--bs-primary) !important;
}

.advantages-3 {
  position: relative;
}

.advantages-3 .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}

.overlay-primary {
  background: rgba(255, 0, 0, 0.7) !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}

.p-10 {
  padding: 6rem;
}

.pt-10 {
  padding-top: 6rem;
}
.pl-10 {
  padding-left: 6rem;
}
.pr-10 {
  padding-right: 6rem;
}
.pb-10 {
  padding-bottom: 6rem;
}

.p-15 {
  padding: 9rem;
}

.pt-15 {
  padding-top: 9rem;
}
.pl-15 {
  padding-left: 9rem;
}
.pr-15 {
  padding-right: 9rem;
}
.pb-15 {
  padding-bottom: 9rem;
}

.wish-footer {
  position: relative;
}

.clickable {
  cursor: pointer;
}

.btn {
  border-radius: 5px;
}

.advantages-box-wish {
  margin: 0 0 30px 0;
  width: 100%;
  background: white;
  padding: 30px 20px 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.9s;
  position: relative;
  z-index: 1;
}

.advantages-box-wish::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.9s;
  z-index: -1;
}

.advantages-box-wish:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.advantages-box-wish .icon {
  border-radius: 50%;
  border: var(--bs-primary) solid 1px;
  margin: 0 auto 20px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  top: 0;
  font-size: 35px;
  color: #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.advantages-box-wish:hover .icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  background: #fff;
}

.advantages-box-wish h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.advantages-box-wish h5 a {
  color: #656565;
}

.advantages-box-wish p {
  font-size: 15px;
  color: #fff;
  opacity: 0.9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.advantages-box-wish:hover::before {
  height: 100%;
}

.like-icon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-primary);
}

.like-icon i {
  font-size: 12px;
}

.relative-position {
  position: relative;
}

.accordion-button-style-heading {
  padding: 1rem 1.25rem;
  font-size: 20px;
  font-weight: 500;
  color: #212529;
  text-align: left;
  background-color: #ededed;
  border-left: 10px var(--bs-primary) solid;
  align-items: center;
  width: 100%;
}

.accordion-container {
  padding-bottom: 40px;
}
